body {
    background-image: linear-gradient(powderblue, blue);
    width: 1260px;
    height: 1000px;
}
h1 {
    background-color: rgb(255, 165, 0);
    color: hsl(147, 50%, 47%);
    padding: 40px;
    text-align: center;
}
.list li a{
    display: inline-block;
    color: #0e1b17;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 25px;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 0.4s;
}
.list li a:hover {
    background-color: white;
    color: #0e1b17;
}
p {
    background-color: #ff00ff;
}
#button {
    display: block;
    width: 20px;
    color: #0e1b17;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 25px;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 0.4s;
}
#button:hover {
    background-color: white;
    color: #0e1b17;
}